.container-fluid {
    border-color: black;
    padding: 40px;
 }
 .faq {
     padding:40px;
     background: url("../../image/bike.jpg") fixed center no-repeat;
     background-size: cover;   
 }
/* .table {
    border-radius: inherit;
} */
.content,.header,.item {
    font-weight: bold;
    background-color: slategrey;
    color: black;
    margin: 5%;
}
 