#nav {
    list-style-type: none;
    background-color: transparent;
    padding:40px;
    justify-content: space-evenly;
    
}

.btn {
    background-color: black !important;
    padding: 20px;
    
}

