.container-fluid {
    border-color: black;
    padding: 40px;
    justify-content: center;
    color: white;
}
 
.justify-content-center {
    text-align: center;
    padding: 10px;
}

hr {
    color: darkblue;
    overflow: visible;
    text-align: center;
    height: 5px;
}