.container-fluid {
    border-color: black;
    padding: 40px;
    justify-content: center;
    color: white;
    opacity: 10%;
}
 
.justify-content-center {
    text-align: center;
    padding: 10px;
}

