.list-group-item {
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

a {
    color:  white !important;
}

.navbar {
    background-color: black !important;
}

