.pic {
    Display: block;
    Height: 50vh;
    Width: 20vw; 
    padding: 40px;
    }
    #aboutme {
        background-color: cornsilk;
        
    }
    
    .container-fluid {
       border-color: black;
       padding: 40px;
    }
    .homepage {
        background-image: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Flisakocay%2Ffiles%2F2019%2F06%2FF935573E-918F-46D9-821D-944EE56E5E2E.jpg");
    }